.hero {
  margin-top: 24px;
}
.searchButton {
  background-color: var(--bg-secondary);
  color: var(--bg-secondary);
  border: none;
  border-color: currentColor;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  --tw-bg-opacity: 1;
  padding: 0.5rem;
}
.searchButton svg {
  color: white;
  fill: white;
}
.search {
  outline: 2px solid transparent;
  outline-offset: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.searchInput {
  width: 100%;
  flex: 1 0 calc(50% - 42px);
}
.searchInput input {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-left: 1px solid var(--cc-section-border);
  border-right: none;
}
.locationInput {
  width: 100%;
  flex: 1 0 calc(50% - 42px);
}
.locationInput input {
  border-left: 1px solid var(--cc-section-border);
  border-right: none;
  width: 100%;
  flex: 1 0 100%;
}
.searchInput input,
.locationInput input {
  height: 42px;
  padding-left: 16px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  outline: 2px solid transparent;
  border-top-right-radius: 0;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  --tw-border-opacity: 1;
  border-top: 1px solid var(--cc-section-border);
  border-bottom: 1px solid var(--cc-section-border);
}
