@media (min-width: 650px) {
  .content {
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 992px) {
    .content {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
.content {
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  display: grid;
  position: relative;
}
.img {
  width: 100%;
  left: 0;
  height: 100%;
  object-fit: contain;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .card {
    padding: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card {
    padding: 2rem;
  }
}
@media (min-width: 1460px) {
  .card {
    padding: 2.5rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg, #fae6db);
  padding: 1.5rem;
}
.card h2 {
  color: #11032b;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
